{
  modemSide = "top",
  hostName = "cor-armory",
  extractionTime = 1.5,
  player = {
    side="bottom",
    color="red"
  },
  armor = {
    {
      name="Blood Armor",
      side="left",
      color="blue",
    },
    {
      name="Sanguine Armor",
      side="left",
      color="cyan",
    },
    {
      name="Gaia Armor",
      side="left",
      color="green",
    },
    {
      name="Travelers Armor",
      side="right",
      color="blue",
    },
  }
}

